@charset "utf-8"; 
/* Pixeled has been built with the Framework base theme by Andre Griffin
/* RTLized by TSI for http://rtl-themes.co.il
----------------------------------------------------------------*/

/**
 * 1.GLOBAL
 */
body {
direction:rtl;
}

blockquote {
  padding: 1.25em 1.25em 0 1.25em; 
}

em {
  padding: 0 0 0 3px; 
}

/**
 * 2.LAYOUT
 */

/* 1 column */
#center {
float: right; 
}

/* 3 columns */
body.sidebars #center {
  float: right; 
}

/* 2 columns - sidebar-left */
body.sidebar-left #center {
float: left; 
}

/* 2 columns - sidebar-right */
body.sidebar-right #center {
float: right; 
}

/**
 * 3.HEADER
 */

#header h1 {
  float: right; 
}

#header #logo {
  float: right; 
  padding: 15px 0 0 10px; 
}

#search-theme-form {
float: left; 
}

/**
 * 4.NAVIGATION
 */
ul.links li {
  margin: 0 0 0 10px; 
}

#nav ul.primary-links li {
  float: right; 
}

#nav ul.primary-links li a:link, #nav ul.primary-links li a:visited {
margin: 0 20px 0 15px;
font-size:1.1em;
line-height:39px;
}

#nav ul.secondary-links li a:link, #nav ul.secondary-links li a:visited {
  margin: 0 0 0 10px; 
}

/**
 * 5.NODES
 */
.node .picture {
  float: right; 
  margin: .3em 0 .1em .5em; 
}

.meta div.links {
  float: none; 
}

.meta div.terms {
  float: left; 
}

.meta div.links ul.links li {
margin-left: 5px; 
float: right; 
}

.meta div.terms ul.links li {
  float: right; 
  padding: 5px 10px 5px 0; 
}

/**
 * 6.COMMENTS
 */
.comment .picture {
  float: left; 
  margin: .3em .3em .1em 0; 
}

.comment ul.links {
  margin: -10px 25px 0 0; 
}

.indented {
  border-right: 1px solid #ddd; 
  margin-right: 14px; 
  padding-right: 5px; 
}

/**
 * 7.SIDEBARS
 */

#sidebar-left {
  float: right; 
  margin-left: 9px; 
}

#sidebar-right {
  float: left; 
  margin-right: 9px; 
}

/**
 * 8.BLOCKS
 */
div.block {
float: left; 
}

/**
 * 9.FOOTER
 */
#footer a.feed-icon {
  left: 0; 
}

#footer #block-system-0 {
  left: 25px; 
}

/**
 * 10.CSS SUPPORT
 */
 
.float-left    { float: right;  }
.float-right   { float: left;  }

.text-left     { text-align: right;  }
.text-right    { text-align: left;  }

.img-left      { float: right;  margin: 4px 0 4px 10px;  }
.img-right     { float: left;  margin: 4px 10px 4px 0;  }

.noindent      { margin-right: 0;  padding-left: 0 }

/**
 * 11.ADMINISTRATION
 */

/* lists */
dl { margin: .5em 0 0 padding: 1em;;  }
dl dd { margin: 0 1.5em .5em 0;  }
ol { margin: .5em 0 1em; padding: 0 1.5em 0 0;  }
ol li { margin: .15em 0 .15em .5em; padding: .2em 0 0;  }
ol ul li { margin-right: .5em; padding: 0 1.5em .2em 0;   }
ul { margin: .5em 0 0 padding: 1em;;  }
.item-list ul { margin: .35em 0 0 0 padding: -.5em;;  }
.item-list ul ul { margin-right: 0;  }
ul li, ul li.leaf, .item-list ul li { background: transparent url(images/menu-leaf.gif) no-repeat right .35em; list-style-image: none; list-style-type: none; margin: .15em 0 .15em .5em; padding: 0 1.5em .2em 0;  }
ul li.expanded { background: transparent url(images/menu-expanded.gif) no-repeat right .35em; }
ul li.collapsed { background: transparent url(images/menu-collapsed-rtl.gif) no-repeat 0 .35em; }
ul.inline li { background: none; margin: 0; padding: 0 0 0 1em;  }
ul ol li { background: none; list-style-type: decimal; margin-left: 2em; padding: 0 0 .2em;   }
ul ul li { margin-right: 2em;  }

/* menu */
ul.menu { margin: 0; padding: 0; }
ul.menu li { background-position: right .6em; list-style-image: none; list-style-type: none; margin: 0; padding: .1em 1.5em .1em 0;  }
ul.menu li a { padding: .1em 0 .1em 0;  }
ul.menu li ul li { background-position: right 0.6em;  }
ul.menu li ul li a { padding-right: 0.1em; padding-left: 0em;  }
ul.menu li ul li ul li { background-position: right center;  }
ul.menu li ul li ul li a { padding-right: 0.1em; padding-left: 0em; }
ul.menu li ul li ul li ul li { background-position: 3.9em .6em; }
ul.menu li ul li ul li ul li a { padding-right: 0.1em; padding-left: 0em;  }


/* legacy list support -- MUST COMMENT OUT [LISTS/MENU/ZEBRA COLORING] ABOVE -- remove brackets around asterisk to enable -- [*]/
ul { margin: .5em 0 0 padding: 1em;;  }
ol { margin: .75em 0 0 padding: 1.25em;;  }
ol li, ul li { margin: .4em .5em .4em 0;  }
ul.menu, .item-list ul { margin: .35em 0 padding:0 -.5em; 0;  }
ul.menu ul, .item-list ul ul { margin-right: 0;  }
ol li, ul li, ul.menu li, .item-list ul li, li.leaf { margin: .15em .5em .15em 0;  }
ul li, ul.menu li, .item-list ul li, li.leaf { background: transparent url(images/menu-leaf.gif) no-repeat right center; list-style-image: none; list-style-type: none; padding: 0 1.5em .2em 0;  }
ol li { margin-right: 2em; padding: 0 0 .3em;  }
ul li.expanded { background: transparent url(images/menu-expanded.gif) no-repeat right 0.35em ; }
ul li.collapsed { background: transparent url(images/menu-collapsed.gif) no-repeat right center; }
ul.inline li { background: none; margin: 0; padding: 0 0 0 1em;  }
dl { margin: .5em 1.5em 1em 0;  }
dl dd { margin: 0 1.5em .5em 0;  }
/* end legacy list support */

/* admin tab links */
ul.secondary { border-bottom: 1px solid #b4d7f0; clear: both; margin: 0 0 1em; padding: .5em left text-align: 0;;  }
ul.primary li a, ul.primary li.active a, ul.primary li a:hover, ul.primary li a:visited, ul.secondary li a, ul.secondary li.active a, ul.secondary li a:hover, ul.secondary li a:visited { background: none; border: 0; margin: 0; padding: 0 1em 0 none text-decoration: 0;;  }

/* position admin tab links and style admin h2 */
#tabs-wrapper ul.tabs { margin: 0 0 0 padding: .5em;;  }

fieldset {border: 1px solid #d4e7f3; margin: 1em 1em padding: 0;;  }
html.js fieldset.collapsible legend a { background: url(images/menu-expanded.gif) no-repeat 0 50%; padding-left: 2em;   }

.poll .vote-form ,
.poll .vote-form .choices {
text-align: right; 
}

.form-button, .form-submit { margin: 2em 0 1em .5em;  }

div.admin .left { float: right;  width: 48%; }
div.admin .right { float: left;  width: 48%; }

.messages, .preview { margin: .75em 0; 1em .5em padding:;  }
